<div class="footer">

    <!-- ////// DESKTOP ////// -->
    <div *ngIf="!isMobile" class="d-flex justify-content-between align-items-center py-2 px-3">
        <!-- ////// LEFT ////// -->
        <div class="d-flex align-items-center">
            <a class="pi pi-facebook mr-4" href="https://www.facebook.com" style="font-size: 2rem"></a>
            <a class="pi pi-instagram" href="https://www.instagram.com" style="font-size: 2rem"></a>

            <div class="ml-5">
                <span>555 Fake St, Baltimore, MD 21201</span>
            </div>
        </div>

        <!-- ////// RIGHT ////// -->
        <div>
            <p class="mb-0">(555) 555-5555</p>
            <p class="mb-0">buckets-seafood@mail.com</p>
        </div>
    </div>

    <!-- ////// MOBILE ////// -->
    <div *ngIf="isMobile" class="py-3 px-3">
        <div class="d-flex justify-content-center">
            <a class="pi pi-facebook mr-4" href="https://www.facebook.com" style="font-size: 2rem"></a>
            <a class="pi pi-instagram" href="https://www.instagram.com" style="font-size: 2rem"></a>
        </div>

        <p class="mt-3" style="text-align: center;">555 Fake St, Baltimore, MD 21201</p>

        <div style="text-align: center;">
            <p class="mb-0">(555) 555-5555</p>
            <p class="mb-0">buckets-seafood@mail.com</p>
        </div>


    </div>

</div>
