.navbar-color {
    background-color: #20447d;
}

.nav-collapse-link {
    text-align: center;
}

.nav-collapse-link:hover {
    background-color: #132c54;
}

.navbar-toggler:hover {
    background-color: #132c54;
}