<div>

    <!-- /////////////////// IMAGE-1 /////////////////// -->

    <!-- // DESKTOP // -->
    <img *ngIf="!isMobile" src="assets/images/danny-5-text.png" alt="Crab Image 5" width="100%" height="500px" style="object-fit: cover;">

    <!-- // MOBILE // -->
    <img *ngIf="isMobile" src="assets/images/danny-5-text.png" alt="Crab Image 5" width="100%">

    <!-- /////////////////// ORDER /////////////////// -->
    <div class="m-5">
        <p style="color: #20447d; font-size: 36px; text-align: center;">Coming Soon!</p>
    </div>

</div>