<div>

    <img src="assets/images/danny-6.png" alt="Crab Image 6" width="100%">

    <div class="m-5" style="border: 1px solid lightgray; border-radius: 8px; box-shadow: 10px 5px 5px lightgray;">

        <p-tabView>
            <p-tabPanel header="Lunch">
                <div class="m-3" style="border: 1px solid lightgray; border-radius: 8px; width: 300px; height: 200px;">
                    <p style="text-align: center; color: #20447d; font-size: 26px;">FISH TACOS</p>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Dinner">
                <div class="m-3" style="border: 1px solid lightgray; border-radius: 8px; width: 300px; height: 200px;">
                    <p style="text-align: center; color: #20447d; font-size: 26px;">CRAB BUCKET</p>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Beer & Wine">
                <div class="m-3" style="border: 1px solid lightgray; border-radius: 8px; width: 300px; height: 200px;">
                    <p style="text-align: center; color: #20447d; font-size: 26px;">SAMUEL ADAMS</p>
                </div>
            </p-tabPanel>
        </p-tabView>


 
    </div>

</div>